---
import {getCollection, CollectionEntry } from "astro:content"

import Main from "../../layout/main.astro";
import PostCard from "../../components/PostCard.astro";
import Pagination from "../../components/Pagination.astro";
import Category from "../../components/Category.astro";

import { formatBlogPosts } from "../../lib/utils";

export async function getStaticPaths({ paginate }) {
  const allPosts = await getCollection("blog");
  const formattedBlogPosts: CollectionEntry<"blog">[] = formatBlogPosts(allPosts);

  return paginate(formattedBlogPosts, {
    pageSize: 6,
  });
}

const { page } = Astro.props;
---

<Main title="Pruthivi Thejan | Blog" >
  <section class="mt-16 text-white" aria-label="New Blog Posts">
    <h1 class="font-heading text-6xl">Blog Posts</h1>
    <p class="mt-7 text-2xl font-body">In the near Future all the blogs going be written by AI. But this blog will be written by me. all the grammar mistakes and incorrect spellings aside, i’m going to improve my knowledge and writing skills. we can have a huge ‘quantity’ of posts with us using AI, we will always favour ‘quality’ in the long run.</p>
    <div class="grid gap-4 grid-cols-1 grid-rows-3 md:grid-cols-2 lg:grid-cols-3 mt-24">
      {
        page.data.map((post) => (
          <PostCard
            data={post.data}
            url={post.slug}
            TagType="h2"
          />
        ))
      }
    </div>
    <Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />
  </section>
  <aside class="text-white font-body flex justify-center gap-2 flex-row p-4" aria-label="Blog categories">
    <a href="/blog/category/">
      <h2 class="text-md font-semibold uppercase ">Blog Categories</h2>
    </a>
    <Category showCount={true} />
  </aside>
</Main>
