---
import { getCollection, type CollectionEntry } from "astro:content";
import Main from "@/layout/main.astro";
import Posts from "@/components/blog/posts.astro";
import Category from "@/components/blog/category.astro";
import Related from "@/components/blog/related.astro";

import { formatBlogPosts } from "@/lib/utils";
import Newsletter from "@/components/newsletter-card.svelte";

export async function getStaticPaths() {
	const allPosts = await getCollection("blog");
	const formattedPosts = formatBlogPosts(allPosts);

	return formattedPosts.map((post) => ({
		params: { slug: post.slug },
		props: {
			post,
		},
	}));
}

interface Props {
	post: CollectionEntry<"blog">;
}

const { post } = Astro.props;
const { title, description, date, edited, category, image } = post.data;

const { Content } = await post.render();

const allPosts = await getCollection("blog");
const formattedPosts = formatBlogPosts(allPosts, {
	sortByDate: false,
});
const relatedPosts = formattedPosts
	.filter(
		(post) => post.data.category === category && post.data.title !== title,
	)
	.slice(0, 3);
---

<Main {title} {description} image={image} >
  <div class="mx-3">
  <Posts
    {title}
    {description}
    {date}
    {edited}
    {category}
    {image}
    {post}
  />

  <div class="flex pt-8 justify-center">
    <div class="grid max-w-2xl text-left leading-7 text-neutral-300 prose 
    prose-h1:font-bold prose-h1:text-xl prose-h1:text-neutral-50
     prose-img:rounded-xl
     prose-headings:text-neutral-100
     prose-code:font-mono ">
      <Content/>
    </div>
  </div>
    <div class="py-6">
      <section class="text-neutral-50 flex items-center gap-2 flex-col p-4 pb-12 pt-12" aria-label="Blog categories">
        <span class="text-muted-foreground select-none">&#10045;&nbsp;&#10045;&nbsp;&#10045;</span>
        <a href="/blog/category/">
          <h2 class="text-md font-semibold uppercase ">Blog Categories</h2>
        </a>
        <Category showCount={false} />
      </section>
      <Newsletter client:load />
      {
        relatedPosts.length > 0 && (
          <aside class="text-white flex justify-center gap-2 flex-row p-4" aria-label="Related categories">
            <h2 class="text-md font-semibold uppercase">Related Posts</h2>
            <Related {relatedPosts} />
          </aside>
        )
      }
    </div>
  </div>
</Main>
