---
import {getCollection, type CollectionEntry } from "astro:content"
import Main from "@/layout/main.astro";
import Posts from "@/components/blog/posts.astro";
import Category from "@/components/blog/category.astro";
import Related from "@/components/blog/related.astro";
import { Separator } from "@/components/ui/separator";

import { formatBlogPosts } from "@/lib/utils";


export async function getStaticPaths() {
  const allPosts = await getCollection("blog");
  const formattedPosts = formatBlogPosts(allPosts);

  return formattedPosts.map((post) => ({
    params: { slug: post.slug },
    props: {
      post,
    },
  }));
}

interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props;
const { title, description, date, category, image } = post.data;

const { Content } = await post.render();

const allPosts = await getCollection("blog");
const formattedPosts = formatBlogPosts(allPosts, {
  sortByDate: false,
});
const relatedPosts = formattedPosts
  .filter(
    (post) => post.data.category === category && post.data.title !== title
  )
  .slice(0, 3);


---

<Main {title} {description} image={image} >
  <div class="mx-3">
  <Posts
    {title}
    {description}
    {date}
    {category}
    {image}
    {post}
  />

    <div class="grid max-w-6xl text-left justify-self-center text-neutral-50 prose 
    prose-h1:font-bold prose-h1:text-xl prose-h1:text-neutral-50
     prose-img:rounded-xl
     prose-headings:text-neutral-50">
      <Content/>
    </div>
    <div class="py-6">
      <section class="text-neutral-50 flex items-center gap-2 flex-col p-4 pt-12" aria-label="Blog categories">
        <Separator class="w-[250px] bg-neutral-600" />
        <a href="/blog/category/">
          <h2 class="text-md font-semibold uppercase ">Blog Categories</h2>
        </a>
        <Category showCount={false} />
      </section >
      {
        relatedPosts.length > 0 && (
          <aside class="text-white flex justify-center gap-2 flex-row p-4" aria-label="Related categories">
            <h2 class="text-md font-semibold uppercase">Related Posts</h2>
            <Related {relatedPosts} />
          </aside>
        )
      }
    </div>
  </div>
</Main>
