---
import { getCollection, type CollectionEntry } from "astro:content";
// component imports
import Main from "@/layout/main.astro";
import PostCard from "@/components/blog/postCard.astro";
import Heading from "@/components/common/heading.astro";
// utils
import { slugify, formatBlogPosts } from "@/lib/utils";
import categories from "@/data/categories";

export async function getStaticPaths() {
	return categories.map((category) => ({
		params: { category: category.slug },
		props: { name: category.name },
	}));
}
const { category } = Astro.params;
const { name } = Astro.props;
const allPosts = await getCollection("blog");
const formattedPosts: CollectionEntry<"blog">[] = formatBlogPosts(allPosts);
const catPosts = formattedPosts.filter(
	(post) => slugify(post.data.category) === category,
);
---

<Main title={name}>
  <section class="mt-24 text-white font-body min-h-screen" aria-label={`Posts about ${name}`}>
    <h2 class="font-heading text-center text-muted-foreground text-5xl">Posts About</h2>
    <Heading text={name}/>
    <div class="px-8  py-16 mx-auto md:px-12 lg:px-32 max-w-7xl">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 lg:gap-x-28 justify-items-center">
      {
        catPosts.map((post) => (
          <PostCard
            data={post.data}
            url=`/blog/${post.slug}`
            TagType="h2"
          />
        ))
      }
    </div>
  </div>
  </section>
</Main>
