---
import { getCollection, type CollectionEntry } from "astro:content";
// component imports
import Main from "@/layout/main.astro";
import PostCard from "@/components/blog/post-card.astro";
// utils
import { slugify, formatBlogPosts } from "@/lib/utils";
import categories from "@/data/categories";

export async function getStaticPaths() {
	return categories.map((category) => ({
		params: { category: category.slug },
		props: { name: category.name },
	}));
}
const { category } = Astro.params;
const { name } = Astro.props;
const allPosts = await getCollection("blog");
const formattedPosts: CollectionEntry<"blog">[] = formatBlogPosts(allPosts);
const catPosts = formattedPosts.filter(
	(post) => slugify(post.data.category) === category,
);
---

<Main title={name}>
  <section class="mt-24 text-white font-body min-h-screen" aria-label={`Posts about ${name}`}>
    <h2 class="font-italic text-center text-muted-foreground text-3xl md:text-5xl animate-enter">Posts About</h2>
    <h1 class="heading animate-enter"       style="--stagger: 1">{name}</h1>
    <div class="py-16 mx-auto ">
    <div class="grid grid-cols-1 gap-6 px-8 py-8 sm:grid-cols-2 lg:grid-cols-3 max-w-6xl mx-auto">
      {
        catPosts.map((post) => (
          <PostCard
            data={post.data}
            url=`/blog/${post.slug}`
            TagType="h2"
          />
        ))
      }
    </div>
  </div>
  </section>
</Main>
