---
import { Image } from "@astrojs/image/components";

import { slugify, formatDate } from  "../lib/utils";

const { category, title, author, date, image } = Astro.props;
---

<header>
  <div class="container text-white">
    <small>
      <a href={`/blog/category/${slugify(category)}/`} class="badge"
        >{category}</a
      >
    </small>
    <h1 class="h2">{title}</h1>
    <p>
      by <a href={`/author/${slugify(author)}/`}>{author}</a> | {
        formatDate(date)
      }
    </p>
  </div>
  <Image
    src={image.src}
    alt={image.alt}
    width="1200"
    height="600"
    format="webp"
    fit="cover"
    quality={80}
    aspectRatio="5:2"
    class="hero-image"
  />
</header>
