---
import { Image } from "@astrojs/image/components";

import { slugify, formatDate } from "../lib/utils";
import Link from "./link.astro";

const { data, url, TagType } = Astro.props;

const Tag = TagType;

const { category, title, date, image, description } = data;
---

<article class="flex flex-col border rounded-lg p-2.5 font-body">
  <a href=`/blog/${url}/` aria-hidden="true" tabindex="-1" >
    <Image
      src={image.src}
      alt={image.alt}
      width="400"
      height="250"
      format="webp"
      fit="cover"
      quality={100}
      aspectRatio="4:1"
      class="rounded"
    />
  </a>
  <div class="content">
    <div>
      <Tag class=" text-3xl font-bold max-w-prose pt-2.5"><a href={url}>{title}</a></Tag>
       <div class="mb-2 mt-2">
          <small>
            <a href={`/blog/category/${slugify(category)}/`} class="border-t-[2px] border-x-[1px] bg-gradient-to-b from-neutral-700 to-neutral-800 rounded-md font-semibold py-1.5 px-3">#{category}</a>
          </small>
          &#8226;
          <small>
            {
              formatDate(date)
            }
          </small>
      </div> 
    </div>
    <p class="text-base line-clamp-3 leading-5">{description}</p>
    <Link href={url}  text="Read Post" classes="mt-3 text-black font-bold rounded-md bg-gradient-to-b from-neutral-300 to-neutral-400 py-1.5 px-3 " />
  </div>
</article>
