---
import { Image } from "@astrojs/image/components";

import { slugify, formatDate } from "../js/utils";
import Link from "./link.astro";

const { frontmatter, url, TagType } = Astro.props;

const Tag = TagType;

const { category, title, author, date, image, description } = frontmatter;
---

<article class="card">
  <small>
    <a href={`/blog/category/${slugify(category)}/`} class="badge">{category}</a
    >
  </small>
  <a href={url} aria-hidden="true" tabindex="-1">
    <Image
      src={image.src}
      alt={image.alt}
      width="400"
      height="250"
      format="webp"
      fit="cover"
      quality={100}
      aspectRatio="4:1"
    />
  </a>
  <div class="content">
    <div>
      <Tag class="h3"><a href={url}>{title}</a></Tag>
      <small>
        by <a href={`/author/${slugify(author)}/`}>{author}</a> | {
          formatDate(date)
        }
      </small>
    </div>
    <p>{description}</p>
    <Link href={url} text="Read Post" style="secondary" />
  </div>
</article>
