---
import { Image } from 'astro:assets';

import { slugify, formatDate } from  "../../lib/utils";
const { category, title, date, image } = Astro.props;
---

<header>
  <div class="mt-24 text-white font-body pb-4">
    <h1 class="text-5xl font-bold">{title}</h1>
    <small>
      <a href={`/blog/category/${slugify(category)}/`} class="border-t-[2px] border-x-[1px] bg-gradient-to-b from-neutral-700 to-neutral-800 rounded-md font-semibold py-1.5 px-3"
        >{category}</a
      >
    </small>
    &#8226;
    <small class="text-sm">
      {
        formatDate(date)
      }
    </small>
  </div>
  <Image
    src={image.src}
    alt={image.alt}
    width="1200"
    height="600"
    format="webp"
    fit="cover"
    quality={80}
    aspectRatio="5:2"
    class="rounded-md"
  />
</header>
