---
import { Image } from "astro:assets";

import { slugify, formatDate } from "@/lib/utils";

import * as Card from "@/components/ui/card/index";
import { Button } from "@/components/ui/button/index";
import { Badge } from "@/components/ui/badge/index";

const { data, url, TagType } = Astro.props;

const { category, title, date, image, description } = data;
---

<div class="glass-container w-[350px] animate-enter" style="--stagger: 2" >
  <Card.Root class="w-[350px] dark  ">
    <Card.Header>
      <Card.Title><a href={url}>{title}</a></Card.Title>
     
      <div class="mb-2 mt-2">
        <small>
          <a href={`/blog/category/${slugify(category)}/`} >
            <Badge variant='outline'> #{category}</Badge>
          </a>
        </small>
          &nbsp;
          &#8226; 
          &nbsp;
        <small>
          {formatDate(date)}
        </small>
      </div>
    </Card.Header>
    <Card.Content>
      <Image
      src={image.src}
      alt={image.alt}
      width="400"
      height="250"
      decoding="async"
      loading="lazy"
      format="webp"
      fit="cover"
      quality={100}
      aspectRatio="4:1"
      class="rounded-lg pt-2.5"
    />
    <Card.Description>{description}</Card.Description>
    </Card.Content>
    <Card.Footer class="flex justify-between">
      <Button 
              ><a href={url} 
              transition:name="blog-title">Read Post
              </a></Button
            >
    </Card.Footer>
  </Card.Root>
</div>

