---
import { Icon } from "astro-icon/components";

interface Props {
	text?: string;
	href: string;
	icon?: {
		name: string;
		side: "left" | "right";
		height?: string;
		width?: string;
	};
	isFilled?: boolean;
	borderVisible?: boolean;
	classes?: string;
	target?: string;
}

const {
	text,
	href,
	icon,
	isFilled = true,
	borderVisible = false,
	classes,
	target,
	...rest
} = Astro.props as Props;
---

<a
  href={href}
  class:list={[
    "link",
    classes,
    { filled: isFilled, bordered: borderVisible },
  ]}
  {...rest}
  target={target}
>
  {
    icon && icon.side === "left" && (
      <Icon name={icon.name} height={icon.width} width={icon.height} />
    )
  }
  <span>{text}</span>
  {
    icon && icon.side === "right" && (
      <Icon name={icon.name} height={icon.width} width={icon.height} />
    )
  }
</a>
