---
import Main from "@/layout/main.astro";
import { BookIcon, PodcastIcon, VideoIcon, TvIcon } from "lucide-svelte";
---

<Main title="Shelf | Pruthivi Thejan ">
    <div class="h-full min-h-screen">
      <section
        class="mx-auto flex flex-col items-center gap-2 py-8 md:py-12 md:pb-8 lg:py-24 lg:pb-20"
      >
        <!-- <a href="https://gitlab.com/users/pruthivithejan/projects" target="_blank" class="animate-enter" style="--stagger: 1" >
          <SparkButton text="Learning Projects" icon="social/gitlab"/>
        </a> -->
        <h1 class="heading animate-enter">Shelf</h1>
        <p
          class="subheading animate-enter"
          style="--stagger: 1"
        >
          I'm thrilled to showcase some of my recent projects that demonstrate my passion for crafting intuitive user experiences and robust, efficient software solutions.
        </p>
        <section class="w-full py-8 px-6 flex justify-center">
            <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 max-w-3xl ">
              {[
              { category: "Books", link: "/books", icon: <BookIcon class="h-10 w-10" />, description: <p class="text-muted-foreground">Dive into our collection of captivating books across genres.</p> },
              { category: "Podcasts", link: "/podcasts", icon: <PodcastIcon class="h-10 w-10" />, description: <p class="text-muted-foreground">Tune in to our engaging and informative podcast episodes.</p> },
              { category: "Movies", link: "/movies", icon: <VideoIcon class="h-10 w-10" />, description: <p class="text-muted-foreground">Explore our curated selection of captivating movies.</p> },
              { category: "TV Shows", link: "/tv-shows", icon: <TvIcon class="h-10 w-10" />, description: <p class="text-muted-foreground">Discover our collection of must-watch TV shows.</p> },
              ].map((item, index) => (
              <a href={`/shelf/${item.link}`} class="group" key={index}>
              <div class="relative h-full rounded-lg glass-container text-neutral-100 bg-neutral-950 p-6 shadow-lg transition-all duration-300 group-hover:-translate-y-1 group-hover:shadow-xl">
              <div class="absolute inset-0 rounded-lg opacity-50 transition-all duration-300 group-hover:opacity-100" />
              <div class="relative z-10 flex flex-col items-start gap-4">
                {item.icon}
                <h3 class="text-xl font-bold">{item.category}</h3>
                {item.description}
              </div>
              </div>
              </a>
              ))}
            </div>
          </div>
        </section>
      </section> 
    </div>
  </Main>
