---
import Main from "./main.astro";
import Posts from "../components/posts.astro";
import Category from "../components/category.astro";

const { frontmatter } = Astro.props;
const { title, description, date, category, author, image } = frontmatter;
---

<Main {title} {description}>
  <Posts {title} {description} {date} {category} {author} {image} />
  <div class="post-content">
    <div class="content">
      <slot />
    </div>
    <div class="sidebar">
      <aside class="container" aria-label="Blog categories">
        <a href="/blog/category/">
          <h2 class="h3">Blog Categories</h2>
        </a>
        <Category showCount={false} />
      </aside>
    </div>
  </div>
</Main>
