---
import {getCollection, type CollectionEntry } from "astro:content"
import Main from "./main.astro";
import Posts from "@/components/blog/posts.astro";
import Category from "@/components/blog/category.astro";
import Related from "@/components/blog/related.astro";

import { formatBlogPosts } from "../lib/utils";

const { data } = Astro.props;
const { title, description, date, category, author } = data;

const allPosts = await getCollection("blog");
const formattedBlogPosts: CollectionEntry<"blog">[] = formatBlogPosts(allPosts, {
  sortByDate: false,
});

const relatedPosts = formattedBlogPosts
  .filter(
    (post) =>
      post.data.category.toLowerCase() === category.toLowerCase() &&
      post.data.title !== title
  )
  .slice(0, 3);
---

<Main {title} {description}>
  <Posts
    {title}
    {description}
    {date}
    {category}
    {author}
    image={data.image}
    {data}
    robots={data.robots}
  />
  <div class="py-6">
    <div class="text-white font-body">
      <slot />
    </div>
    <div class="py-6">
      <aside class="text-white font-body flex justify-center gap-2 flex-row p-4" aria-label="Blog categories">
        <a href="/blog/category/">
          <h2 class="text-md font-semibold uppercase">Blog Categories</h2>
        </a>
        <Category showCount={false} />
      </aside>
      {
        relatedPosts.length > 0 && (
          <aside class="text-white font-body flex justify-center gap-2 flex-row p-4" aria-label="Related categories">
            <h2 class="text-md font-semibold uppercase">Related Posts</h2>
            <Related {relatedPosts} />
          </aside>
        )
      }
    </div>
  </div>
</Main>
