---
import Main from "./main.astro";
import Posts from "../components/posts.astro";
import Category from "../components/category.astro";
import Related from "../components/related.astro";

import { formatBlogPosts } from "../js/utils";

const { frontmatter } = Astro.props;
const { title, description, date, category, author } = frontmatter;

const allPosts = await Astro.glob("../pages/blog/*.md");
const formattedBlogPosts = formatBlogPosts(allPosts, {
  sortByDate: false,
});

const relatedPosts = formattedBlogPosts
  .filter(
    (post) =>
      post.frontmatter.category.toLowerCase() === category.toLowerCase() &&
      post.frontmatter.title !== title
  )
  .slice(0, 3);
---

<Main {title} {description}>
  <Posts
    {title}
    {description}
    {date}
    {category}
    {author}
    image={frontmatter.image}
    {frontmatter}
    robots={frontmatter.robots}
  />
  <div class="post-content">
    <div class="content">
      <slot />
    </div>
    <div class="sidebar">
      <aside class="container" aria-label="Blog categories">
        <a href="/blog/category/">
          <h2 class="h3">Blog Categories</h2>
        </a>
        <Category showCount={false} />
      </aside>
      {
        relatedPosts.length > 0 && (
          <aside class="container" aria-label="Related categories">
            <h2 class="h3">Related Posts</h2>
            <Related {relatedPosts} />
          </aside>
        )
      }
    </div>
  </div>
</Main>
