---

import { ViewTransitions } from 'astro:transitions';
import SEO from "@/components/common/seo.astro";
const { title, description, image, data, robots } = Astro.props;
---

<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="generator" content={Astro.generator} />
  <title>{title}</title>
  <meta name="description" content={description} />
  <ViewTransitions />
  <SEO {title} {description} url={Astro.url} {image} {data} {robots} />
  <!-- Pinterest Verification Tag -->
  <meta name="p:domain_verify" content="e93fa39fecd18ec8c449ab6bc4df3c03"/>
  <!-- Google tag (gtag.js) -->
  <script type="text/partytown" async src="https://www.googletagmanager.com/gtag/js?id=G-M3H2QEVCXY"></script>
  <script type="text/partytown">
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-M3H2QEVCXY');
  </script>
</head>
