---
import seo from "@/components/common/seo.astro";
import { ViewTransitions } from 'astro:transitions';
const { title, description, image, data, robots } = Astro.props;
---

<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <title>{title}</title>
  <meta name="description" content={description} />
  <!-- <ViewTransitions /> -->
  <seo {title} {description} url={Astro.url} {image} {data} {robots} />
  <!-- Google tag (gtag.js) -->
  <script type="text/partytown" async src="https://www.googletagmanager.com/gtag/js?id=G-M3H2QEVCXY"></script>
  <script type="text/partytown">
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-M3H2QEVCXY');
  </script>
</head>
