---
import "../styles/global.css";
import "../styles/custom.css";
import "../styles/animations.css";
//component imports
import Head from "./head.astro";
import Footer from "@/components/common/footer.astro";
import Nav from "@/components/common/nav.svelte";

const {
	title = "Pruthivi Thejan",
	description = "Personal Website Of Pruthivi Thejan",
	image,
	data,
	robots,
} = Astro.props;
---

<html lang="en">
  <Head {title} {description} {image} {data} {robots} />
  <body class="antialiased mx-auto bg-neutral-950 font-body min-h-screen flex flex-col items-center">
    <main class="max-w-6xl w-full">
      <slot>Default</slot>
    </main>
    <Nav client:load />
    <Footer />
  </body>
</html>
