---
import "../styles/global.css"
import "../styles/custom.css"
//component imports
import Head from "./head.astro";
import Footer from "@/components/common/footer.astro";
import Nav from "@/components/common/nav.svelte";

const {
  title = "Pruthivi Thejan",
  description = "Personal Website of Pruthivi Thejan",
  image,
  data,
  robots,
} = Astro.props;
---

<html lang="en">
  <Head {title} {description} {image} {data} {robots} />
  <body class="subpixel-antialiased max-w-md sm:max-w-xl md:max-w-3xl lg:max-w-6xl mx-auto bg-neutral-950 font-body">
    <Nav client:load />
    <main>
      <slot>Default</slot>
    </main>
    <Footer />
  </body>
</html>
